@@include('./partials/head.tpl', { "title": "Order confirmed" })
<div class="btn-container">
    <button class=" btn-text" id="toggle-cart">Menu</button>
</div>

<div class="cart transformed" id="cart">
    <div class="cart__container">
        <div class="header-cart-container">
            <div class="title-left">
                <section class="title-container">
                    <h3>Cart</h3>
                    <div class="subtitle">3 Items</div>
                </section>
            </div>
            <div class="btn-container">
                <button class=" btn-text">edit</button>
            </div>
        </div>
    </div>
    <div class="table-container">
        <table class="table">
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount"> <input type="number" value="2"></td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount"> <input type="number" value="3"></td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount"> <input type="number" value="1"></td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount"> <input type="number" value="1"></td>
                <td class="nok ">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount"> <input type="number" value="1"></td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount"> <input type="number" value="3"></td>
                <td class="nok">122 NOK</td>
            </tr>
        </table>
    </div>
    <div class="cart__container cart-editing">
        <div class="summary">
            <div class="subtitle">Totalt</div>
            <div class="sum">1,024 NOK</div>
        </div>
        <div class="btn-container inverse">
            <button class="btn-text">Confirm order</button>
        </div>
    </div>
</div>
@@include('./partials/footer.tpl')
