@@include('./partials/head.tpl', { "title": "Order confirmed" })
<div class="btn-container">
    <button class=" btn-text" id="toggle-cart">Menu</button>
</div>


@@include('./partials/modal.tpl')
<div class="cart transformed" id="cart">
    <div class="cart__container">
        <div class="header-cart-container">
            <div class="title-left">
                <section class="title-container">
                    <h3>Cart</h3>
                    <div class="subtitle">3 Items</div>
                </section>
            </div>
            <div class="btn-container">
                <button class=" btn-text color-grey">CANSEL</button>
            </div>
        </div>
    </div>
    <div class="table-container" id="table-container">
        <table class="table">
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
                <td>
                    <button class="remove" data-toggle="modal">
                        <span class="first-line"></span>
                        <span class="second-line"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
                <td>
                    <button class="remove" data-toggle="modal">
                        <span class="first-line"></span>
                        <span class="second-line"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
                <td>
                    <button class="remove" data-toggle="modal">
                        <span class="first-line"></span>
                        <span class="second-line"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok ">122 NOK</td>
                <td>
                    <button class="remove" data-toggle="modal">
                        <span class="first-line"></span>
                        <span class="second-line"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
                <td>
                    <button class="remove" data-toggle="modal" >
                        <span class="first-line"></span>
                        <span class="second-line"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
                <td>
                    <button class="remove" data-toggle="modal">
                        <span class="first-line"></span>
                        <span class="second-line"></span>
                    </button>
                </td>
            </tr>
        </table>
        <div class="cart__container">
            <div class="summary">
                <div class="subtitle">Totalt</div>
                <div class="sum">1,024 NOK</div>
            </div>
        </div>
    </div>
</div>
@@include('./partials/footer.tpl')
<script>

</script>