@@include('./partials/head.tpl', { "title": "Product page" })
@@include('./partials/header.tpl')

<div class="main category">
    <div class="container">
        <ol class="breadcrumb breadcrumb__background">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Pumps</li>
        </ol>
        <div class="row justify-content-between">
            <div class="col">
                <h2>Barrel Pumps</h2>
            </div>
            <div class="col">
                <div class="buttons-container switcher" id="switcher">
                    <button  id="grid"><i class="fa fa-th-large" aria-hidden="true"></i></button>
                    <button  class="active" id="list"><i class="fa fa-list-ul"  aria-hidden="true"></i></button>
                </div>

            </div>
        </div>
        <div class="category-switcher category-grid" id="view-switcher">
        <div class="headings ">
            <div class="row justify-content-between">
                <div class="col-1">
                    <div class="subtitle">Name</div>
                </div>
                <div class="col-2">
                    <div class="subtitle">Product number</div>
                </div>
            </div>
        </div>
        <div class="list">
            <ul >
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
                <li>
                    <a href="" class="item-img">
                        <img src="http://via.placeholder.com/62x62" alt="">
                    </a>
                    <h3 class="item-title">Chemical Pump Lever Type</h3>
                    <div class="subtitle item-number">#123456</div>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
@@include('./partials/footer.tpl')