@@include('partials/head.tpl')
@@include('partials/free-header.tpl')
<div class="main">
    <div class="login">
        <h2><a href="login.html">Login</a></h2>
        <h2><a href="forgot-password.html">Forgot password</a></h2>
        <h2><a href="order-confirmed.html">Order Confirmed</a></h2>
        <h2><a href="cart.html">Cart</a></h2>
        <h2><a href="cart-edited.html">Cart Edited</a></h2>
        <h2><a href="product-page.html">Product Page</a></h2>
        <h2><a href="category.html">Category</a></h2>
        <h2><a href="category-overview.html">Category Overview</a></h2>


    </div>
</div>