@@include('./partials/head.tpl', { "title": "Order confirmed" })
<div class="btn-container">
    <button class="btn-text" id="toggle-cart">Menu</button>
</div>

<div class="cart" id="cart">
    <div class="cart__container">
    <section class="title-container text-container">
        <h3 >Cart</h3>
        <div class="subtitle">3 Items</div>
    </section>
        <section class="title-container text-container">
            <h3 >Order confirmed</h3>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam turpis mauris,
                elementum et ullamcorper sed, faucibus vestibulum sem. Cras vulputate sodales tellus vitae ullamcorper.</div>
        </section>
    </div>
    <section class="table-container">
        <table class="table">
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok ">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
            </tr>
            <tr>
                <td class="name__container">
                    <div class="name">Drill</div>
                    <div class="model subtitle">3RF-A</div>
                </td>
                <td class="amount">x3</td>
                <td class="nok">122 NOK</td>
            </tr>
        </table>
    </section>
</div>
<script>
    var btn = document.getElementById("toggle-cart");
    var cart = document.getElementById("cart");
    console.log(btn);
    btn.onclick = function () {
        cart.classList.toggle("transformed");
    }
</script>