header{
  height: 221px;

  .header__height{
    min-height: 221px;
  }
}

.logo{
  position: absolute;
  top: 10%;
  left: 10%;
}
#dropdownMenuButton{
  font-family: Muli;
  border: none;
  font-size: 16px;
  color: #40464f;
  padding: 0 16px 0 0;
  border-right: 1px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
  &::after{
    color: #9fa8b6;
  }
  &:hover{
    background-color: transparent;
  }
}
.show{
  .dropdown-toggle{
    background-color: transparent;
  }
}
.btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  background-color: transparent;
}
.basket{
  position: relative;
  font-size: 20px;
    &::after{
      content: '3';
      text-align: center;
      font-size: 13px;
      color: #fff;
      position: absolute;
      width: 21px;
      height: 21px;
      background-color: #f8a639;
      border: solid 2px #ffffff;
      border-radius: 50%;
      top: -10px;
      left: 27px;
    }
}
