$grey: #9fa8b6;
.breadcrumb__background{
  background-color: transparent;
  padding: 0;

  .breadcrumb-item{
    font-size: 16px;
    font-weight: 300;
    color: #9fa8b6;
    position: relative;
    margin-right: 27px;

    &+.breadcrumb-item::before{
      content: '';
      display: block;
      padding: 3px;
      border-bottom: 1px solid $grey;
      transform: rotate(45deg);
      position: absolute;
      top: 5px;
      left: -15px;

    }
    &+.breadcrumb-item::after{
      content: '';
      display: block;
      padding: 3px;
      border-bottom: 1px solid $grey;
      transform: rotate(-45deg);
      position: absolute;
      top: 9px;
      left: -19px;

    }
  }
}