.btn-container{
  button{
    cursor: pointer;
    height: 48px;
    border-radius: 100px;
    border: solid 1px #e3e7ee;
    padding:17px 61px;
    background-color: #fff;
    outline: none;
    &.btn-text{
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      text-align: center;
      color: #f8a639;
      text-transform: uppercase;
    }
  }
}

.inverse{
  button{
    display: block;
    border-radius: 100px;
    background-color: #f8a639;
    width: 100%;
    &.btn-text{
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.5px;
      position: relative;
      span{
        &:before{
          position: absolute;
          content: '';
          padding: 5px;
          border-bottom: 1px solid #fff;
          left: 70px;
          top: 15px;
        }
        &:after{
          position: absolute;
          content: '';
          padding: 5px;
          border-bottom: 1px solid #fff;
          transform: rotate(90deg);
          left: 75px;
          top: 20px;
        }
      }
    }
  }
}
.header-cart-container{
  .btn-container{
    button{
      padding: 16px 27px;
      &.btn-text{
        color: #40464f;
      }
    }
  }
}

.cart-editing{
  .btn-container{
    width: 100%;
    margin-top: 120px;
    button{
      margin: 0 auto;
    }
  }
}
.category{
  .buttons-container{
    display: table;
    cursor: pointer;
    border-radius: 6px;
    border: solid 1px #e3e7ee;
    width: 130px;
    height:50px;
    float: right;
  }
  button{
    display: table-cell;
    width: 50%;
    background-color: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 22px;
    color: #40464f;;
    cursor: pointer;
    outline: none;

    &.active{
      color: #9fa8b6;
    }
    &:first-child{
      border-right: solid 1px #e3e7ee;
    }
  }
}
.modal{
  button{
    padding: 16px 28px;
    margin-right: 5px;
    &.color-grey{
      color: #40464f;
    }
  }
  .inverse{
    button{
      width: auto;
    }
  }

}