.headings{
  margin-top: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .subtitle{
    height: 65px;
    line-height: 65px;
  }
}
.category-switcher{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Muli;

    li{
      display: block;
    }
  }
}
.item-img{
  display: inline-block;
  img{
    margin-bottom: 0;
  }
}
.item-title{
  font-weight:300;
}
.category-list{

  li{
    padding: 36px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    h3{
      color: #40464f;
    }
  }
  &.item-img, .item-title, .item-number{
    display: inline-block;

  }
  .item-img{
    width: 10%;
    vertical-align: middle;
  }
  .item-title{
    width: 43%;
    line-height: 100%;
  }
  .item-number{
    width: 15%;
    float: right;
  }
}
.category-grid{
  .headings{
    display: none;
  }
  ul{
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-right: -30px;
    li{
      min-width: 250px;
      margin-bottom: 60px;
      margin-right: 30px;
      &:first-child{

      }
    }
    .item-img{
      height: 250px;
      width: 250px;
      margin-bottom:20px;
      text-align: center;
      img{
        height: 100%;
        width: 155px;
      }
    }
  }
}

.overview{
  justify-content: space-between;
  .item-title{
    width: 190px;
  }
}