@media (max-width: 768px) {
  .logo{
    top: 80px;
  }
  .product{
    h1{
      font-size: 28px;
      width: 100%;
    }
    p{
      width: 100%;
    }
    .preview{

      img{
        height: 100%;
        width: 100%;
      }
    }
    .previews-small{
      display: none;
    }
  }

  input{
    padding-left: 10px;
  }
  .login, .forgot-password{
    margin-top: 250px;
    width: 100%;
    padding: 30px;

  }

  .forgot-password{

    .input-container{
      width: 100%;
    }
  }
  .cart{
    width: 300px;
  }
  .addition{
    width: 80%;
  }
  .category-grid{
    ul{
      margin-right: 0;

    }
    .item-title, .subtitle{
      padding-left: 20%;
    }
  }

}
@media (max-width: 1000px) {
  .category-grid{
    ul{
      margin-right: 0;
    }
  }
}
@media (max-width: 1195px) {
  .inverse{
    button{
      padding: 10px 40px;
    }
    span::before, span::after{
      display: none;
    }
  }

}
@media (max-width: 990px){
  .addition{
    width: 60%;
  }
}
@media (max-width: 400px) {
  .addition{
    width: 100%;
    padding: 15px;
  }

}
