.product{
  h1{
    width: 497px;
  }
  p{
    width: 532px;
  }
  .text-container{
    margin-bottom: 57px;
    div:first-child{
      margin-bottom: 13px;
    }
  }
}
.img-container{
  margin-bottom: 57px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .preview{
    margin: 0;
  }
  img{
    display:  block;
    &:only-child{
      margin-right: 10px;
    }

  }
  .previews-small{
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.addition{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #e3e7ee;
  padding: 40px 40px;
  width: 100%;
  button{
    margin: 0 auto;
  }
  .price{
    margin-top: 32px;
  }
  h1{
    margin-bottom: 6px;
    width: 100%;
  }
}
